<h1 class="title is-2">Ιστορικό Δηλώσεων</h1>
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Ημερομηνία</th>
      <th>Μάθημα</th>
      <th>Σύγγραμμα</th>
      <th>Συγγραφέας</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of apps | paginate: { itemsPerPage: 5, currentPage: page };">
      <td>{{app.date}}</td>
      <td>{{app.title}}</td>
      <td>{{app.book_title}}</td>
      <td>{{app.author}}</td>
    </tr>
  </tbody>
</table>

<pagination *ngIf="apps.length > 0" (onPageChange)="onPageChange($event)"></pagination>