<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">Users List
                          <button  class="btn btn-white btn-round btn-just-icon pull-right" type="submit" (click)="reload()">
                              <i class="material-icons">refresh</i><div class="ripple-container"></div>
                          </button>
                      </h4>
                      <p class="category">Info for users on the website</p>
                  </div>
                  <div class="card-content table-responsive ">
                      <table class="table table-hover">
                          <thead class="text-danger">
                              <tr>
                                  <th>UserId</th>
                                  <th>FirstName</th>
                                  <th>LastName</th>
                                  <th>Balance</th>
                                  <th style="width: 40%">Email</th>
                                  

                                  
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let User of userList" (click)="onSelect(User)">
                                <td>{{User.UserId}}</td>
                                <td>{{User.FirstName}}</td>
                                <td>{{User.LastName}}</td>
                                <td>{{User.Balance}}</td>
                                <td>{{User.Email}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        
</div>
