<footer>
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        Users
                    </a>
                </li>
                <li>
                    <a href="#">
                        History
                    </a>
                </li>
                <li>
                    <a href="#">
                       Deposit Codes
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} Stoiman team 3, made with pain to gain
    </div>
</footer>
